#!/bin/bash

if command -v lvim &> /dev/null
then
    alias vim="lvim"
fi

# exa instead of ls
if command -v exa &> /dev/null
then
    alias ls="exa --color=always --group-directories-first"
    alias la="exa -la --color=always --group-directories-first"
fi

if command -v bat &> /dev/null
then
    alias cat="bat"
fi

# bare git repo alias for dotfiles
alias config="/usr/bin/git --git-dir=$HOME/.cfg --work-tree=$HOME" 

alias pacman="sudo pacman"

# Docker
alias dcu="docker-compose up"
alias dcub="docker-compose up --build"
alias dce="docker-compose exec"

# Clear without new line
alias clear="unset NEW_LINE_BEFORE_PROMPT && clear"
