#!/bin/bash

if command -v nvim &>/dev/null; then
	alias vim="nvim"
fi

# exa instead of ls
if command -v exa &>/dev/null; then
	alias ls="exa --color=always --group-directories-first"
	alias la="exa -la --color=always --group-directories-first"
fi

if command -v bat &>/dev/null; then
	alias cat="bat"
fi

if command -v micromamba &>/dev/null; then
	alias conda="micromamba"
fi

# bare git repo alias for dotfiles
alias config="/usr/bin/git --git-dir=$HOME/.cfg --work-tree=$HOME"
alias lg="lazygit"
alias lgc="lazygit --git-dir=$HOME/.cfg --work-tree=$HOME"

alias pacman="sudo pacman"

# Docker
alias dcu="docker-compose up"
alias dcub="docker-compose up --build"
alias dce="docker-compose exec"

# Clear without new line
alias clear="unset NEW_LINE_BEFORE_PROMPT && clear"

# Start CS2110 docker
alias cs2110="bash ~/Documents/GT/Spring_2022/CS_2110/cs2110docker.sh"

# GT VPN
alias gtvpn="sudo openconnect --protocol=gp --background --authgroup dc vpn.gatech.edu"
