$background-bar: #1e1e2e;
$background: #1e1e2e;
$widget-background: #1e1e2e;
$shadow: rgba(49, 50, 68, 0.4);
$grey: #6c7086;

$black: #282a36;
$red: #f38ba8;
$green: #a5e3a1;
$yellow: #f9e2af;
$orange: #fab387;
$blue: #89b4fa;
$purple: #cba6f7;
$purple2: #b4befe;
$teal: #94e2d5;
$white: #cdd6f4;

$primary: $purple;
