configuration {
    modi: "drun";
	font:                       	"Ubuntu 11";
	show-icons:                		true;
	fullscreen:                     false;
	threads:                        0;
	matching:                      "fuzzy";
	scroll-method:                  0;
}

@theme "dracula"

